#####################################################################
[output_pin caselights] ; FAN3 GPIO17 - Chamber lighting
#####################################################################
pin:                        gpio17
pwm:                        true
hardware_pwm:               true
cycle_time:                 0.01
value:                      1.0
shutdown_value:             0

