# === EMU Lane Temperature and Humidity Sensors ===

# AHT20 Sensor definitions below. Uncomment to enable either the BME or AHT sensor definitions depending
# on your hardware setup.

[temperature_sensor unit0_env0]
sensor_type: AHT2X
aht10_report_time: 60
i2c_address: 56
i2c_mcu: unit0_gate0  
i2c_bus: i2c2_PB10_PB11

[temperature_sensor unit0_env1]
sensor_type: AHT2X
aht10_report_time: 60
i2c_address: 56
i2c_mcu: unit0_gate1  
i2c_bus: i2c2_PB10_PB11

[temperature_sensor unit0_env2]
sensor_type: AHT2X
aht10_report_time: 60
i2c_address: 56
i2c_mcu: unit0_gate2  
i2c_bus: i2c2_PB10_PB11

[temperature_sensor unit0_env3]
sensor_type: AHT2X
aht10_report_time: 60
i2c_address: 56
i2c_mcu: unit0_gate3  
i2c_bus: i2c2_PB10_PB11

