# Happy Hare LED additions

[mmu_led_effect mmu_static_white_dim]
define_on:    gates,exit
layers:       static 0 0 top (0.0,0.0,0.0, 0.025)

[mmu_led_effect mmu_static_white]
define_on:    gates,exit
layers:       static 0 0 top (0.0,0.0,0.0, 0.3)

[mmu_led_effect mmu_ready_white]
define_on:    gates,exit
layers:       breathing 1 0 subtract (0.0,0.0,0.0,0.5)
              static 0 0 top (0.0,0.0,0.0,0.0)

[mmu_led_effect mmu_static_red]
define_on:    gates,exit
layers:       static 0 0 top (0.5,0.0,0.0)

[mmu_led_effect mmu_clockwise_slow]
define_on:    gates
layers:       chase  .5 .5 top    (0.0,0.0,0.0,0.5), (0.0,0.0,0.0,0.2)

[mmu_led_effect mmu_clockwise_fast]
define_on:    gates
layers:       chase  1  .5 top    (0.0,0.0,0.0,0.5), (0.0,0.0,0.0,0.2)

[mmu_led_effect mmu_anticlock_slow]
define_on:    gates
layers:       chase  -.5 .5 top   (0.0,0.0,0.0,0.5), (0.0,0.0,0.0,0.2)

[mmu_led_effect mmu_anticlock_fast]
define_on:    gates
layers:       chase  -1  .5 top   (0.0,0.0,0.0,0.5), (0.0,0.0,0.0,0.2)