###########################################################################################
# EMU LED overrides. Copy entry_leds & exit_leds HW definitions from mmu_unit0_hardware.cfg
# if they change
###########################################################################################

[mmu_leds unit0]
entry_leds                : neopixel:unit0_gate0_box (1)
                            neopixel:unit0_gate1_box (1)
                            neopixel:unit0_gate2_box (1)
                            neopixel:unit0_gate3_box (1)
exit_leds                 : neopixel:unit0_gate0_leds (1,2,3,4)
                            neopixel:unit0_gate1_leds (1,2,3,4)
                            neopixel:unit0_gate2_leds (1,2,3,4)
                            neopixel:unit0_gate3_leds (1,2,3,4)
status_leds               : 
logo_leds                 : 
frame_rate: 15

# Default effects for LED segments when not providing action status
#    off            - LED's off
#    on             - LED's white
#    gate_status    - indicate gate availability / status            (printer.mmu.gate_status)
#    filament_color - display filament color defined in gate map     (printer.mmu.gate_color_rgb)
#    slicer_color   - display slicer defined set color for each gate (printer.mmu.slicer_color_rgb)
#   (r,g,b)         - display static r,g,b color e.g. "0,0,0.3" for dim blue
#    _effect_       - display the named led effect
#
enabled                   : True		        # True = LEDs are enabled at startup (MMU_LED can control), False = Disabled
animation                 : True		        # True = Use led-animation-effects, False = Static LEDs
exit_effect               : gate_status		    # off|gate_status|filament_color|slicer_color|r,g,b|_effect_
entry_effect              : filament_color		# off|gate_status|filament_color|slicer_color|r,g,b|_effect_
status_effect             : off         		# on|off|gate_status|filament_color|slicer_color|r,g,b|_effect_
logo_effect               : (0, 0, 0)		    # off                                        |r,g,b|_effect_
white_light               : (1, 1, 1)		    # RGB color for static white light
black_light               : (.01, 0, .02)	    # RGB color used to represent "black" (filament)
empty_light               : (0, 0, 0)		    # RGB color used to represent empty gate
filament_color_intensity  : 0.5		            # Intensity reduction when displaying filament or slicer color

# Default effects (animation: True) / static rbg (animation False) to apply to actions

effect_loading:            mmu_clockwise_fast,      (0, 0, 0.4)
effect_loading_extruder:   mmu_clockwise_slow,      (0, 0, 1)
effect_unloading:          mmu_anticlock_fast,      (0, 0, 0.4)
effect_unloading_extruder: mmu_anticlock_slow,      (0, 0, 1)
effect_heating:            mmu_breathing_red,       (0.3, 0, 0)
effect_selecting:          mmu_white_fast,          (0.2, 0.2, 0.2)
effect_checking:           mmu_white_fast,          (0.8, 0.8, 0.8)
effect_initialized:        mmu_rainbow,             (0.5, 0.2, 0)
effect_error:              mmu_strobe,              (1, 0, 0)
effect_complete:           mmu_sparkle,             (0.3, 0.3, 0.3)
effect_gate_selected:      mmu_static_blue,         (0, 0, 1)
effect_gate_available:     mmu_static_white_dim,    (0.3, 0.3, 0.3)
effect_gate_available_sel: mmu_static_white,        (0.75, 0.75, 0.75)
effect_gate_unknown:       mmu_static_orange,       (0.5, 0.2, 0)
effect_gate_unknown_sel:   mmu_ready_orange ,       (0.55, 0.1, 0)
effect_gate_empty:         mmu_static_black,        (0, 0, 0)
effect_gate_empty_sel:     mmu_static_red,          (0.2, 0, 0)


# Happy Hare LED additions

[mmu_led_effect mmu_static_white_dim]
define_on:    gates,exit
layers:       static 0 0 top (0.0,0.0,0.0, 0.025)

[mmu_led_effect mmu_static_white]
define_on:    gates,exit
layers:       static 0 0 top (0.0,0.0,0.0, 0.3)

[mmu_led_effect mmu_ready_white]
define_on:    gates,exit
layers:       breathing 1 0 subtract (0.0,0.0,0.0,0.5)
              static 0 0 top (0.0,0.0,0.0,0.0)

[mmu_led_effect mmu_static_red]
define_on:    gates,exit
layers:       static 0 0 top (0.5,0.0,0.0)

[mmu_led_effect mmu_clockwise_slow]
define_on:    gates
layers:       chase  .5 .5 top    (0.0,0.0,0.0,0.5), (0.0,0.0,0.0,0.2)

[mmu_led_effect mmu_clockwise_fast]
define_on:    gates
layers:       chase  1  .5 top    (0.0,0.0,0.0,0.5), (0.0,0.0,0.0,0.2)

[mmu_led_effect mmu_anticlock_slow]
define_on:    gates
layers:       chase  -.5 .5 top   (0.0,0.0,0.0,0.5), (0.0,0.0,0.0,0.2)

[mmu_led_effect mmu_anticlock_fast]
define_on:    gates
layers:       chase  -1  .5 top   (0.0,0.0,0.0,0.5), (0.0,0.0,0.0,0.2)