##########################################################################
[heater_fan hotend_fan]
##########################################################################
pin:                        sht:FAN0
max_power:                  1.0
kick_start_time:            0.5
heater:                     extruder
heater_temp:                60

[fan]
pin:                        sht:FAN1
max_power:                  1.0
kick_start_time:            0.5
off_below:                  0.13
cycle_time:                 0.010

##########################################################################
[heater_fan controller_fan] ; electronics bay and skirt fans
##########################################################################

pin:                        gpio18
kick_start_time:            0.5
heater:                     heater_bed, extruder
fan_speed:                  0.50 
heater_temp:                50.0
cycle_time:                 0.015

##########################################################################
[heater_fan SHT-36] ; Fly SHT-36v2 CAN toolhead cooler
##########################################################################

pin:                        sht:PROBE_2
heater:                     extruder
max_power:                  1.0
heater_temp:                60                         

##########################################################################
[temperature_sensor Pi] ; Raspberry Pi sensor
##########################################################################

sensor_type:                temperature_host
max_temp:                   85

##########################################################################
[temperature_sensor Pico] ; MCU sensor
##########################################################################

sensor_type:                temperature_mcu
max_temp:                   85

##########################################################################
[temperature_sensor SHT-36] ; Fly SHT-36v2 CAN toolhead - Pi
##########################################################################

sensor_type: temperature_mcu
sensor_mcu: sht

##########################################################################
[temperature_sensor Chamber] ; Fly SHT-36v2 CAN toolhead sensor
##########################################################################
sensor_type: ATC Semitec 104GT-2
sensor_pin = sht:TC0

;##########################################################################
;[temperature_sensor Chamber] ; 
##########################################################################
;sensor_type: ATC Semitec 104GT-2
;sensor_pin = gpio27

##########################################################################
[temperature_fan _nevermore] ; Nevermore VOC scrubber >= 60c
##########################################################################

pin:                        gpio20
sensor_type:                Generic 3950                        ; linked to bed thermistor
sensor_pin:                 gpio26                              ; linked to bed thermistor (dup pin override needed in printer.cfg)
kick_start_time:            0.5
max_speed:                  0.65                                ; reduce noise/flow
min_temp:                   0
max_temp:                   120                                 ; set as high or higher than source thermistor target otherwise klipper failsafes will trip an emergency shutdown
target_temp:                60
control:                    watermark


##   Common Temperature Sensors
##   "EPCOS 100K B57560G104F"
##   "ATC Semitec 104GT-2"
##   "Generic 3950"
##   "NTC 100K beta 3950" - Deprecated
##   "Honeywell 100K 135-104LAG-J01"
##   "NTC 100K MGB18-104F39050L32" (Keenovo Heater Pad)
##   "AD595"
##   "PT100 INA826"
##   "PT1000"