#####################################################################
[homing_override] ; override homing for voron v0.2
#####################################################################

axes:                       xyz
set_position_z:             0
gcode:

   _MSG PREFIX=🏠 MSG="Homing ..."
   _set_neos NEOCHAIN=bed_neo STATUS=homing
   
   G90
   G0 Z5 F600                                                    ; safety move the bed away a little
   {% set home_all = 'X' not in params and 'Y' not in params and 'Z' not in params %}

   {% if home_all or 'X' in params %}
     _HOME_X
   {% endif %}
  
   {% if home_all or 'Y' in params %}
     _HOME_Y
   {% endif %}
  
   {% if home_all or 'Z' in params %}
     _HOME_Z
   {% endif %}
   
   _set_neos NEOCHAIN=bed_neo STATUS=ready
   M117

#####################################################################
[gcode_macro _HOME_X]
#####################################################################

gcode:

    ; Drop x motor run_current for sensorless homing - default to 0.4a
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={printer["gcode_macro _MY_VARIABLES"].motion_xy_home_current|default(0.4)|float}

    G28 X                                                        ; home
    M400
    G91                                                          ; move away
    G1 X-10 F1200
    G90
    G4 P500                                                     ; give StallGuard registers time to clear
    
    ; restore x motor run current to printer configuration
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={printer.configfile.settings["tmc2209 stepper_x"].run_current}

#####################################################################
[gcode_macro _HOME_Y]
#####################################################################

gcode:

    ; Drop y motor run_current for sensorless homing - default to 0.4a
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={printer["gcode_macro _MY_VARIABLES"].motion_xy_home_current|default(0.4)|float}

    G28 Y
    M400                                                        ; home
    G91      
    G1 Y-10 F1200                                               ; move away
    G90
    G4 P500                                                     ; give StallGuard registers time to clear

    ; restore y motor run current to printer configuration
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={printer.configfile.settings["tmc2209 stepper_y"].run_current}  

#####################################################################
[gcode_macro _HOME_Z]
#####################################################################

gcode:

    G90
    G28 Z
    G1 Z{printer.toolhead.axis_maximum.z/3} F2400                ; return deck