####################################################################
[gcode_macro PRINT_END]
#####################################################################
gcode:
  _MSG PREFIX=🏁 MSG="Print finished"

  M400                                                        ; wait for buffer to clear
  G92 E0                                                      ; zero the extruder
  CLEAR_PAUSE                                                 ; clear pause state

  SET_HEATER_TEMPERATURE HEATER=bed_fan TARGET=0
  TURN_OFF_HEATERS                                            ; turn off heaters
  M107                                                        ; turn off part fan

  _SET_NEOS NEOCHAIN=bed_neo STATUS=ready

