#####################################################################
[gcode_macro PRINT_START] 
#####################################################################

; slicer print_start gcode PRINT_START EXTRUDER=[first_layer_temperature[initial_extruder]] BED=[first_layer_bed_temperature] CHAMBER=[chamber_temperature] FILAMENT=[filament_type] PA=[pressure_advance[]] NOZZLE=[nozzle_diameter] TOOL=[initial_extruder] SIZE={first_layer_print_min[0]}_{first_layer_print_min[1]}_{first_layer_print_max[0]}_{first_layer_print_max[1]}
;🧹⤵️😮‍💨🏎️🌡️🏠⏩⏪❄️💡⏱️🚮⏲️⚖️🥓𓈉⏬📶☰ᚙ🛑⚠️🏁🔥
 
gcode:
  
  {% set bed         = params.BED|int %}                         ; slicer argument: bed target temp
  {% set extruder    = params.EXTRUDER|int %}                    ; slicer argument: extruder target temp
  {% set chamber_min = params.CHAMBER_MIN|default(0)|int %}      ; slicer argument: minimum chamber temp - default to 0c
  {% set chamber     = params.CHAMBER|default(0)|int %}          ; slicer argument: minimum chamber temp - default to 0c
  {% set tool        = params.TOOL|default(0)|int %}             ; slicer argument: tool (HE) to use for initial MMU load
  {% set size        = params.SIZE|default("0_0_0_0")|string %}  ; slicer argument: print dimensions for adaptive mesh
  {% set nozzle      = params.NOZZLE|default(0.4)|float %}       ; slicer argument: nozzle size
  {% set filament    = params.FILAMENT|default(none)|string %}   ; slicer argument: filament type
  {% set pa          = params.PA|default(none)|string %}         ; slicer argument: pressure advance for filament

  _RESETSPEEDS                                                ; always reset printer speeds and overrides back to defaults
  SET_PIN PIN=caselights VALUE=1.0                            ; case lights on
  CLEAR_PAUSE                                                 ; clear any previous pause state to avoid random behaviour
  G90                                                         ; set absolute mode to avoid positioning errors for poorly sliced stl's
  M106 S0                                                     ; turn part fan off if running
  _SET_NEOS NEOCHAIN=SHT_neos STATUS=headlights               ; turn printhead neos on
    
  SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={bed}       ; start the bed heating while we get ready
  
  _MSG PREFIX=🔥 MSG="Preheating"
  _SET_NEOS NEOCHAIN=bed_neo STATUS=heating                   ; update neos
  _CG28                                                       ; conditionally home so we can move print head to safe position for heatsoak 
  PARKSOAK                                                    ; park up
  
  ; Set bed fan target to help maintain chamber temp
  {% if chamber_min > 0 %}
     SET_HEATER_TEMPERATURE HEATER=bed_fan TARGET={chamber_min} ; chamber target is minimum, continue helping, 50c cutoff
  {% endif %}

  M104 S{(extruder * printer["gcode_macro _MY_VARIABLES"].print_extruder_soak_temp_factor)|round(0)}  ; start HE preheating before waiting for bed to reach print temp

  _MSG PREFIX=⏱️ MSG="Check/Wait for bed to reach {bed}°c"
  M190 S{bed}                                                 
 
  {% if chamber_min > 0 and printer['temperature_sensor Chamber'].temperature < chamber_min %}        ; conditionally wait for chamber to reach minimum temp
     _MSG PREFIX=⏱️ MSG="Check/Wait for chamber to reach {chamber_min}°c minimum"
     TEMPERATURE_WAIT SENSOR="temperature_sensor Chamber" MINIMUM={chamber}  
  {% endif %}

  _MSG PREFIX=⏱️ MSG="Check/Wait for extruder to reach {extruder}°c"
  M109 S{extruder}                                            ; conditionally wait for extruder to reach print temp

  {% if printer.mmu is defined and printer.mmu.enabled %}     ; custom MMU print startup
    {% if printer.mmu.tool|int != -2 %}                       ; if MMU not set to use bypass, check and load initial tool if necessary 
      ;MMU_TEST_CONFIG LOG_FILE_LEVEL=4                       ; debugging  
      {% if printer.mmu.tool|int != tool or printer.mmu.filament != "Loaded" %}
        _MSG PREFIX=⏩ MSG="Switching to T{tool}"             ; switch to correct tool if not already loaded 
        MMU_CHANGE_TOOL STANDALONE=1 TOOL={tool}              
      {% else %}
        _MSG PREFIX=✅ MSG="T{tool} ready"
      {% endif %}
      ;MMU_TEST_CONFIG LOG_FILE_LEVEL=1                        ; debugging
    {% endif %}
  {% endif %}

  _MSG PREFIX=🧹 MSG="Purging ..."                            ; purge / prime line
  _SET_NEOS NEOCHAIN=bed_neo STATUS=cleaning                  ; update neos

  {% if "-GF" in filament|upper or "-CF" in filament|upper %}  ; reduce prime rate if using GF/CF engineering filaments.      
     PURGE START_X=1 START_Y=110 LINE_DIRECTION=Y PURGE_LENGTH=75 FLOWRATE=8  SIZE={size} UNRETRACT_LENGTH=2  ; Purge on Y on left to keep out of way of crossbow depressor path 
  {% else %}
     PURGE START_X=1 START_Y=110 LINE_DIRECTION=Y PURGE_LENGTH=75 FLOWRATE=20 SIZE={size} UNRETRACT_LENGTH=2  ; Purge on Y on left to keep out of way of crossbow depressor path 
  {% endif %}        

  {% if pa is none or pa|float <= 0 %}
     SET_PA NOZZLE={nozzle} FILAMENT={filament}               ; set PA for filament type if not passed from slicer (default or matching)
  {% endif %}    

  {% if chamber > 0 %}                                        ; set chamber target
     SET_HEATER_TEMPERATURE HEATER=bed_fan TARGET={chamber}  
  {% endif %}

  _MSG PREFIX=🏎️ MSG="Printing ..."
  _SET_NEOS NEOCHAIN=bed_neo STATUS=printing                  ; update neos
  UPDATE_DELAYED_GCODE ID=_CLEARMSG DURATION=4                ; clear the display message area

